body {
  background: rgb(216, 215, 213);
  font-size: 16px;
  color: #333;
  letter-spacing: 1px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation .prev,
.slides-navigation .next {
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slides-navigation {
  z-index: 6;
}

.slides-navigation a.prev {
  left: 20px;
  background-image: url(../img/prev-white.png);
}
.slides-navigation a.next {
  right: 20px;
  background-image: url(../img/next-white.png);
}

.titleMessage {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 47%;
  z-index: 5;
  text-align: center;
  margin-top: -120px;
}

.titleMessage .heading p {
  color: rgb(253, 249, 249);
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 600;
  letter-spacing: 7px;
}

.titleMessage .heading .main {
  font-size: 55px;
}

.titleMessage .heading .sub {
  font-size: 30px;
}

.section {
  padding: 100px 0;
}

.aboutImage {
  max-width: 100%;
}

h4 {
  font-size: 32px;
}

.about-my {
  font-size: 22px;
}

.skillsSection,
.contactSection {
  background-color: #dfe4ea;
}

.skill {
  text-align: center;
  margin-left: 10px;
}

.chart {
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;
  text-align: center;
}

.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.chart .percent {
  color: #000;
  line-height: 152px;
  display: inline-block;
  font-size: 35px;
}

.chart .percent:after {
  content: "%";
}
